$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Lato', sans-serif;
$font-label: 'Roboto', sans-serif;
$font-misc: 'Poppins', sans-serif;
$font-cursive: 'Sacramento', cursive;

// Weights
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
