// font smoothing
@mixin smoothing {
  font-feature-settings: 'liga'1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Truncate lines and use ellipsis
@mixin truncate-lines($n: 4) {
  overflow: hidden;
  text-overflow: ellipsis;

  /* stylelint-disable value-no-vendor-prefix, property-no-unknown */
  display: -webkit-box;
  -webkit-line-clamp: #{$n};
  box-orient: vertical;
  -webkit-box-orient: vertical;

  /* xstylelint-enable value-no-vendor-prefix, property-no-unknown */
}
